---
layout: default
---
<div id="main">
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta"><font style="color:Dodgerblue">{{ page.date | date: "%b, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</font></p>
    </header>

    <section>
      {{ content }}
    </section>

    <footer>
      <a href="{{ site.url }}" class="button" style="font-size:30px; border-color:Dodgerblue"><font size="10em" style="color:grey">Go Back</font></a>
        <span class="label"></span>
      </a>
    </footer>
  </article>
</div>
