---
layout: default
---
<div id="main">
  <article>
    <header>
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%b, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <section>
      {{ content }}
    </section>

    <footer>
      <a href="{{ site.url }}" i class="fa fa-home"style="font-size:60px;color:Tomato;align:center;"></i>
        <span class="label"></span>
      </a>
    </footer>
  </article>
</div>
